<section class="register">
    <form class="form-signup"
    <h2>Register</h2>
    <div class="form-signup">
        <label for="username-signup">Create a username</label>
    </div>
    <div class=form-signup>
        <label for="password-signup">Create a password</label>
    </div>
    <button type="submit" class="signup-btn">Register</button>
</section>
<script src="/javascript/signup.js"></script>